@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) { 
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin desktop {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 730px) {
    @content;
  }
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin primary-font() {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #C4C4C4;
}

@mixin secondary-font() {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #C4C4C4;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}