@import '../common/styles/mixins';
@import '../common/styles/variables';

%btn {
  @include primary-font();
  border: none;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-dark-3xl;
  border: 2px solid $color-primary;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 15px 45px;

  &:hover {
    border-color: $color-primary-light;
  }

  &::after {
    content: '';
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    background: $color-primary-light;
    position: absolute;
    z-index: -1;
    display: block;
    transition: all 0.35s;
  }

  &:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

%round-btn {
  @include box(52px);
  @include flex-center();
  @include primary-font();
  color: $color-dark-3xl;
  font-size: 20px;
  line-height: 115%;
  border: 2px solid $color-primary;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
}

.primary-button {
  @extend %btn;
  background-color: $color-primary;
}

.secondary-button {
  @extend %btn;
  background-color: transparent;
}
