@import '../common/styles/mixins';
@import '../common/styles/variables';

.pagination {
  display: inline-flex;
  gap: 20px;

  @include mobile {
    gap: 10px;
  }

  &__start,
  &__prev,
  &__page,
  &__next,
  &__end {
    @extend %round-btn;

    &:disabled {
      fill: $color-dark-s;
      border-color: $color-dark-s;
      background-color: transparent;
      cursor: auto;
    }
  }

  &__page {
    background-color: $color-primary;
  }
}
