@import '../../common/styles/mixins';
@import '../../common/styles/variables';
@import '../buttons';

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @media (min-width: 690px) {
    flex-direction: row;
  }

  .wrapper {
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media (min-width: 0px) {
      width: 270px;
    }
    @media (min-width: 768px) {
      width: 604px;
    }
    @media (min-width: 1280px) {
      width: 1096px;
    }
  }

  .slides {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 0;
    width: 300%;

    &.shifting {
      transition: left .2s ease-out;
    }
    @media (min-width: 0px) {
      left: -270px;
    }
    @media (min-width: 768px) {
      left: -604px;
    }
    @media (min-width: 1280px) {
      left: -1096px;
    }
  }

  .slide {
    display: flex;
    justify-content: space-around;
    position: relative;

    @media (min-width: 0px) {
      width: 270px;
    }

    @media (min-width: 768px) {
      width: 604px;
    }

    @media (min-width: 1280px) {
      width: 1096px;
    }

    > div { 
      @media (min-width: 0px) {
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }

      @media (min-width: 768px) {
        &:nth-child(2) {
          display: flex;
        }
        &:nth-child(3) {
          display: none;
        }
      }

      @media (min-width: 1280px) {
        &:nth-child(2),
        &:nth-child(3) {
          display: flex;
        }
      }
    }
  }

  .mobile-buttons {
    display: flex;
    gap: 80px;
    margin-top: 20px;

    @media (min-width: 690px) {
      display: none;
    }
  }

  &__prev {
    @extend %round-btn;
    flex-shrink: 0;
  }

  &__next {
    @extend %round-btn;
    transform: rotate(-180deg);
    flex-shrink: 0;
  }

  & > .slider__prev {
    display: none;

    @media (min-width: 690px) {
      display: flex;
    }
  }

  & > .slider__next {
    display: none;

    @media (min-width: 690px) {
      display: flex;
    }
  }
}